.registerForm {
    display: grid;
    justify-content: center;
}

#email {
    margin: 15px 0px 20px 43px;
}

#password {
    margin: 15px 0px 20px 20px;
}

.submit {
    margin-left: 12px !important;
}

.cancel {
    margin-left: 90px !important;
}