.logindiv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggleButton {
    margin-left: 48%;
}

#logout {
    float: right;
}

.header {
    overflow: hidden;
}

h2 {
    margin: 15px 0px 5px 25px !important;
    font-size: 25px;
}

.addButton {
    margin: 0% 0% 1% 71%;
    vertical-align: top;
}