<div class="offer-container">
    <h2>Add Offer</h2>
    <hr><br>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()" class="addNewOffer">

        <div class="form-group">
            <label for="title">Title:</label>
            <input tabindex="1" formControlName="title" placeholder="Title" name="title" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="category">Category:</label>
            <input tabindex="2" formControlName="category" placeholder="Category" name="category" class="form-control" id="category">
        </div>

        <button tabindex="3" aria-label="Add" class="action-button addNew">Add</button>
    </form>
</div>