.addNewOffer {
    display: grid;
    justify-content: center;
}

#title {
    margin: 15px 0px 20px 46px;
}

#category {
    margin: 15px 0px 20px 20px;
}

.addNew {
    width: 35%;
    margin: 15px 0px 0px 80px;
}