<div class="offer-container">
    <h2>Update Offer</h2>
    <hr><br>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="updateOffer">
        <div>
            <label for="id">Id: </label>
            <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id">
        </div>
        <div class="form-group">
            <label for="title">Title: </label>
            <input type="text" formControlName="title" placeholder="title" name="title" class="form-control" id="title">
        </div>

        <div class="form-group">
            <label for="category">Category: </label>
            <input formControlName="category" placeholder="First Name" name="category" class="form-control" id="category">
        </div>

        <button aria-label="Update" class="action-button editOffer" [routerLink]="['/offers/', offerId, 'edit-offer']" tabindex="0">Update</button>
    </form>
</div>